/*------------------------------------*\
  #GENERAL
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --link: #007aff;
    --dark-gray: #898A8E;
    --light-gray: #d6d6d6;
    --ultra-light-gray: rgba(177, 178, 183, 0.4);
    --spacing-small: 14px;
    --spacing-medium: 20px;
    --spacing-large: 32px;
    --border-radius-normal: 25px;
    --font: 'Helvetica-Neue', 'Roboto', sans-serif;
}


body {
  padding: 20px var(--spacing-medium);;
  margin: 0;
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
}


hr {
  padding: 0;
  margin: 0;
  border: none;
  height: 1px;
  background-color: var(--light-gray);
}


.title {
  margin: 0;
  padding: 0;
  font-size: 21px;
  letter-spacing: 0.7px;
  line-height: 26px;
  font-weight: 700;
}


.one-liner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1;
}


.body-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 0.6px;
  font-size: 14px;
  line-height: 19px;
}

.body-link, .body-link:visited {
  color: var(--link);
  text-decoration: none;
}





/*------------------------------------*\
  #INDEX-HEADER
\*------------------------------------*/

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: var(--spacing-medium);
}

.header-text-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding-left: var(--spacing-medium);
}


.profile-picture {
  width: 118px;
  height: 118px;
  border-radius: var(--border-radius-normal);
}


.sub-title {
  margin: 4px 0 0 0;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  color: var(--dark-gray);
}


.call-to-action {
  margin: auto 0 0 0;
  padding: 7px 0;
  width: 110px;
  text-align: center;
  color: white;
  background-color: var(--link);
  border-radius: var(--border-radius-normal);
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}





/*------------------------------------*\
  #INDEX-PROJECTS
\*------------------------------------*/

.projects {
  padding: var(--spacing-small) 0 var(--spacing-large) 0;
}

.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin: var(--spacing-small) 0px;
}

.project-card {
  flex: 0 0 auto;
  margin-right: 20px;
  border-radius: 20px;
  width: 220px;
  height: 478px;
}


.other-skills-icon {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.other-skills-text {
  margin: 0 0 0 var(--spacing-small);
  padding: 0;
}





/*------------------------------------*\
  #INDEX-ABOUT-ME
\*------------------------------------*/

.about-me {
  margin: 0;
  padding: var(--spacing-medium) 0 var(--spacing-large) 0;
}





/*------------------------------------*\
  #INDEX-FOOTER
\*------------------------------------*/

.footer {
  padding: var(--spacing-small) 0 0 0;
}

.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.footer-item {
  padding: var(--spacing-small) 0;
}

.footer-item-text {
  margin-right: auto;
}

  .footer-item-text__plain {
    color: var(--dark-gray);
  }

  .footer-item-text__link {
    color: var(--link);
  }

  .footer-item-text__description {
    color: black;
  }

.footer-item-icon {
  width: 17px;
  height: 17px;
  margin: 0 0 0 auto;
}
